!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "emPower"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" }
    %meta{ :content => content_for?(:description) ? yield(:description) : "emPower", :name => "description" }
    %link{ :href => "https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700", :rel => "stylesheet", :type => "text/css" }
    = render '/layouts/favicon'
    /[if lt IE 9]
      %script{:src => "assets/javascripts/ie/html5shiv.js", :type => "text/javascript"}
      %script{:src => "assets/javascripts/ie/respond.min.js", :type => "text/javascript"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)

  %body(class="contrast-red login contrast-background" ng-app="empower" id="#{params[:controller] == 'devise/sessions' || 'devise/registrations' || 'devise/passwords' ? 'session' : '' }")
    .middle-container
      .middle-row
        .middle-wrapper.new-login-m-wrapper
          = (devise_error_message!).html_safe  if is_devise_controller?

          - flash.each do |key, value|
            - if value != '' and value != nil
              - unless params[:controller] == "notifications"
                %div{:class => "session-alerts alert alert-dismissable alert-#{key}"}
                  %a.close{"data-dismiss" => "alert", :href => "#"}
                    ×
                  %i.icon-remove-sign
                  = value
          = yield

          = render "/layouts/sessions_footer"
